<h1>{{ department.name }}</h1>
<ul>
    {% for agreement in department.agreement_set.all %}
        <li>{{ agreement.name }}</li>
            {% for invoices in agreement.invoice_set.all %}
                <p>{{ invoices.name }}</p>
            {% endfor %}
    {% endfor %}
</ul>
