{% if list_department %}
    <ul>
        {% for name_dep in list_department %}
        <li><a href="{% url 'detail' name_dep.id %}">{{ name_dep.name }}</a>
        {% endfor %}
    </ul>
{% else %}
    <p>No department<p>
{% endif %}
