<h4> Hello {{ full_name }} - jestes zalogowany! </h4>

{% if maps %}
    <ul>
        {% for key, val in maps.items %}
        <h5>Umowa: {{ key }}</h5>
            {% for valtmp in val %}
            <li>--->faktura {{ valtmp.name }}, wartość
                    {{ valtmp.gross }} </li>
            {% endfor %}
            ======>Suma  {{ key.suma }}
        {% endfor %}
    </ul>
{% endif %}

<p> Click <a href="{% url 'logout' %}"> tutaj</a> do wylogowania</p>
