{% if form.errors %}
    <p>Sorry</p>
{% endif %}

<form action="{% url 'authv' %}" method="post">{% csrf_token %}
    <label for="username">User name: </label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password: </label>
    <input type="password" name="password" value="" id="password"</label>
    <p/>
    <input type="submit" value="login" />
</form>

